.stk-checkbox-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .stk-checkbox-native {
        width: 16px;
        height: 16px;
        cursor: pointer;
        vertical-align: middle;
    }
}
