.stk-editable-cell {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: default;
    min-width: 0;

}
.stk-editable-cell-input {
    width: 100%;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    box-sizing: border-box;
    outline: none;
    padding: 0 4px;
    border: none;
    background: transparent;
}
